.home-hero-container {
  height: 120vh;
  overflow: hidden;
  position: relative;
}
.background {
  background-image: url("../../assets/img/home-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: center;
}
.home .black {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.451);
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.home-hero > .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.home-hero {
  position: absolute;
  top: 30%;
  left: 14%;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
}
.home-hero h1 {
  font-size: 80px;
}
.home-hero p {
  font-size: 22px;
  width: 80%;
  margin: 0 auto;
  font-weight: lighter;
}

/*Home Info*/

.home-info {
  background-color: #141414;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: -300px;
  left: 5%;
}
.home-info svg {
  width: 40px;
  height: 40px;
}
.contact,
.open-hours,
.location {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.contact span,
.open-hours span,
.location span {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.home-info ul li {
  list-style: none;
}
.home-info ul li,
.home-info p {
  font-weight: lighter;
  font-size: 18px;
}
.daysOfWeek {
  display: flex;
  gap: 30px;
}
.home-info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Home About  */

.home-about {
  padding-top: 150px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.home-about img {
  position: relative;
  bottom: -80px;
  z-index: -1;
}
.home-about h1 {
  font-size: 60px;
}
.home-about p {
  font-size: 22px;
  width: 70%;
  margin: 0 auto;
  font-weight: lighter;
}
.home-about .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.classes-img {
  position: relative;
}
.home-girl {
  position: absolute;
  bottom: -20%;
  left: 75%;
}
.classes-img img {
  width: 670px;
}
.images {
  position: absolute;
  top: 30px;
  padding: 0 100px;
}

.classes-img .white-bg {
  background-color: white;
  width: 100%;
  height: 400px;
}
.classes-img .black-bg {
  background-color: #141414;
  width: 100%;
  height: 400px;
}

.home-classes {
  background-color: #141414;
  color: white;
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.home-classes svg {
  background-color: white;
  color: black;
  height: 50px;
  width: 50px;
}
.classes-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 100px;
}
.classes-title h2 {
  z-index: 99;
  font-size: 60px;
}
.classes-svg {
  position: absolute;
  left: 0;
}
.arrows {
  display: flex;
  align-items: center;
  gap: 20px;
}

.carousel-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.yt {
  position: relative;
  background-color: rgba(0, 0, 0, 0.618);
}
.yt-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
.yt img {
  width: 100%;
}
.yt-title h2 {
  color: white;
  font-size: 50px;
  margin-bottom: 50px;
}
.yt-title {
  width: 60%;
}
.yt-info svg {
  width: 200px;
  height: 200px;
  fill: white;
}
