.trainers-hero-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.trainers-container .background {
  background-image: url("../../assets/img/trainers img.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
  transform-origin: center;
  will-change: transform;
}

.trainers-container .black {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
}

.trainers-hero {
  padding: 150px;
  position: absolute;
  z-index: 2;
  top: 10%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  overflow: hidden;
  color: white;
}
.trainers-hero h1 {
  font-size: 80px;
}
.trainers-hero p {
  font-size: 18px;
  width: 60%;
  line-height: 34px;
}
